*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.sample{
    color: blue;
}

h1{
    text-align: center;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* background-color: #f5f5f5; */
    background-size: cover;

}
.container{
    width: 100%;
    background-color: white;
    background: linear-gradient(120deg,blue,red);
    padding: 20px;
    
}

input{
    width: 90%;
    padding: 15px 7px;
    margin: 25px auto;
}

.btn{
    padding: 15px 19px;
    background-color: rgb(25, 51, 184);
    color: white;
    border-radius: 7px;
    border: none;
    cursor: pointer;
}

.list{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px;
    background-color: aqua;
    border-radius: 7px;
    margin: 7px auto;
    
}

.list button{
    padding: 7px 5px;
    background-color: red;
    color: white;
    border-radius: 7px;
    border: none;
    cursor: pointer;
}

ul{
    list-style: none;
}

li{
    width: 90%;
    display: flex;
    align-items: center;

}

h1{
    color: white;
    margin: 20px;
}