*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.sample{
    color: blue;
}

h1{
    text-align: center;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #f5f5f5;
}
.container{
    width: 90vw;
    width: 600px;
    background-color: white;
    padding: 10px;
}

input{
    width: 80%;
    padding: 7px 5px;
    margin: 19px auto;
}

.btn{
    padding: 7px 5px;
}

.list{
    display: flex;
    flex-direction: row;
    padding: 4px;
    background-color: aqua;
    border-radius: 7px;
    margin: 7px auto;
    
}

.list button{
    padding: 7px 5px;
    background-color: red;
    color: white;
    border-radius: 7px;
    border: none;
}

ul{
    list-style: none;
}

li{
    width: 90%;
    display: flex;
    align-items: center;

}